files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDjzCCAncCFHrCI/MpuD+VvTgbZlyBnOF2TEC2MA0GCSqGSIb3DQEBCwUAMIGD
      MQswCQYDVQQGEwJVUzELMAkGA1UECAwCV0kxEDAOBgNVBAcMB01hZGlzb24xDTAL
      BgNVBAoMBE1BVEMxCzAJBgNVBAsMAklUMRgwFgYDVQQDDA93d3cuZW50amF2YS5j
      b20xHzAdBgkqhkiG9w0BCQEWEHRlc3RAZW50amF2YS5jb20wHhcNMjQxMTExMjMz
      MTUxWhcNMjUxMTExMjMzMTUxWjCBgzELMAkGA1UEBhMCVVMxCzAJBgNVBAgMAldJ
      MRAwDgYDVQQHDAdNYWRpc29uMQ0wCwYDVQQKDARNQVRDMQswCQYDVQQLDAJJVDEY
      MBYGA1UEAwwPd3d3LmVudGphdmEuY29tMR8wHQYJKoZIhvcNAQkBFhB0ZXN0QGVu
      dGphdmEuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAjoOEm7Gp
      TGNIC30vj/p087XAHMIktIkansyYgW1I/MHji8QK7EEXUpCiYl/X7UP7yjBVyAu2
      6sUgTdBQ+K8XwbDHvCFtp4ULf0Qx9ett/Y376LqpJgJqR3xi2Ac1lbqQvkBXmysU
      DfsTpv5tnPhuzqpjLkGDUl6W0fBcuDNy876+crepQlKRX3UHEDKi887WoIB3lKz0
      mfc3wLpLvMQILAad5ZdIykYZ6YKlWaGUCNl5kFWoayTew3GJyHbzm3B2X4ei5+By
      Wc5Hk8w77Ilt4TqlNSLtp0ja4Dox03l5n2HYo3/Q9d4k8ar85I4YCrzIM3IUODJi
      X+w9FQF9mGGXhwIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQAYiVK9pYU5cQVF+LTS
      L8SMJ02nEJYZFSQYbpNd+nCQKTwU4CKRDkw1SCphxWb6IhMupwWyZTcBL9BGHckW
      fj6dO8bvGQUYvm3t+cyIRm6OJ+iEhvdDZNIrNnN3olMhPCGKlDWCP6eGsc6/AyU+
      bhUF02XbChpNuXyi/2xofxiH861Vj5Uk+oNVIwWhpxDXSzlY7e3fJOAqT7tUZ5vl
      NBXCBog9HMYs+VshUGs7fprZX5XHjh+OZavMZd2a7kuwOfTaXlWoKndHYmA2OPd5
      LV4VdoeYBOsNXC+V7XFnghVyyz70kdvSeD+6BDft+9N9s+9hW/gw6PMzBoDDSikg
      5xq+
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCOg4SbsalMY0gL
      fS+P+nTztcAcwiS0iRqezJiBbUj8weOLxArsQRdSkKJiX9ftQ/vKMFXIC7bqxSBN
      0FD4rxfBsMe8IW2nhQt/RDH16239jfvouqkmAmpHfGLYBzWVupC+QFebKxQN+xOm
      /m2c+G7OqmMuQYNSXpbR8Fy4M3Lzvr5yt6lCUpFfdQcQMqLzztaggHeUrPSZ9zfA
      uku8xAgsBp3ll0jKRhnpgqVZoZQI2XmQVahrJN7DcYnIdvObcHZfh6Ln4HJZzkeT
      zDvsiW3hOqU1Iu2nSNrgOjHTeXmfYdijf9D13iTxqvzkjhgKvMgzchQ4MmJf7D0V
      AX2YYZeHAgMBAAECggEAPMelkjtan2wGSXQaCVdBcsE0jm9UdTS2CDzs2+IuizHr
      6GtzVyBJoJpzzu3eauAgLjKgGyG34Peyl809A1q1kJNjE/7Tw+rPpPcCMcY3Ujiw
      U6jsQ/wqtJM9mrG0bkezvJg3ZMOiGXZYAtQnDpe7tmNfylYBemtB+oZ/HMZAg+hW
      SiqwGj37x1RLR5IPClsr7SF0cRaRHkm2LQW4tD4MLue8WYNkPKJK/mc7J5A6LZFE
      poEgGtP8fj4R0jhlfTrFnH6J0mLGRMfFkV2ChnkiSMLHaNEcBz8DMi7WwQoUFn9O
      TumtzCvzBYIH/MEjjDhp3kwUwWoLLWtGRHbMqs/TvQKBgQDGRvE/5OPwWQrVnKcy
      VoNIrZzcNnUAg2NnGe2LaV36kStZ7fFnf93KMeONDUXza7UeSOn82kVFW4ChXbQl
      cc5DnMUt28jmm/8rF0U5sOUP4fDOzBECDRFzvX0pUrSderbsTZ+oPf6LNy62SfFa
      zDbUgOmrLv4N4tjJE3BQfrkYQwKBgQC4AK6Sm9rXzW5eYwqjxxTTmuwOMwBjYZGU
      oCa6SlCtNf9v0+lnIISuLWVHI7hlrotxua6I6b9Xu8l36xmiwbny+9/COgYS1RPE
      1nDosERxLV8heiRtdx5aeLWiHqP1n33SPBfP5SmlIu4gnTsIRZlWFPvjGUC+iXbL
      iXbASP4BbQKBgEr8L2a7mJygACHzAaRe5X2J8wWxLqSIDALE4npT2e/WEPAMtbwv
      tmAuZ+FDQM4jULboWl1+6q2lQktElcmHdbtKQaPrN9pG6sSQI2UDCk3sY9bBhDkj
      WhNMeVY0agwYia9qV9QXxfk+YFMeOcHd82qAal6MAhacUOISkOpQUo3jAoGBALKq
      Vtic5X6uRwD3gplM8fgWcifHdhUJ5GZAq9ov1u6ZhBJ93iD4/lxyT+kn0iFJvrUK
      62KeNeFmwlXivt2+5mP+FmNuG/+lTrDO2IvYvFx5Bepnw39XLu4CT7u/rM0PtQiy
      uRxxFGL46+hXQ77gdeeUMJFvL+LTb7prHBfRyHJxAoGAS4l7T8PRr+kkRjYAVtcF
      ahnwpehdBELc/39sMicB3TTVXvFmuZTdO4JuA492Eed+zlvfD2kTHlR/oQDG4Xd3
      LMmdfxTyG7uG6RZCzlgFmPK6fJlIM5+LI7QKcqh7Fi3eGYDqb+8hgAZU5kF1st7c
      1rcX6TedNRcnaEOF7KJKe8k=
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart